body {
  font-family: "Montserrat", Tahoma, Geneva, Verdana, sans-serif;
  color: #f5f5f5;
  background: #8fafe9;
  margin: 0;
  padding: 0;
}

.red-gradient {
  background: linear-gradient(180deg, #ff6f61 0%, #fda198 100%);
  height: 100vh;
}

.blue-gradient {
  background: linear-gradient(180deg, #8fafe9 0%, #7da3e9 100%);
}

.header-container {
  text-align: center;
  padding: 1em;
}

header {
  display: flex;
  justify-content: flex-end;
}

.menu-btn {
  width: 1.5em;
  color: #f5f5f5;
}

.hide-mobile {
  display: none;
}

.title {
  font-size: 1.3em;
  font-family: "Rufina", sans;
  font-weight: normal;
  letter-spacing: 5px;
  margin-bottom: 1.3em;
}

.subhead {
  margin-bottom: 2em;
}

nav ul li {
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  color: #f5f5f5;
}

.border {
  margin: auto;
  width: 100px;
  height: 10px;
  background: #ff6f61;
  margin-bottom: 1em;
}

.school-container,
.score-container {
  display: flex;
  justify-content: center;
  padding: 1em;
}

.first-school-container,
.second-school-container,
.first-score-container,
.second-score-container {
  margin: auto;
  text-align: center;
}

.first-school-container h2,
.second-school-container h2 {
  margin-bottom: 0.5em;
}

.first-score,
.second-score {
  font-size: 15em;
  margin: 0.5em;
}

.first-score-title,
.second-score-title {
}

select {
  margin-top: 1em;
}

.see-your-score-btn {
  background: #ff6f61;
  display: block;
  width: 250px;
  padding: 0.5em;
  text-align: center;
  font-size: 1.5em;
  text-decoration: none;
  color: white;
  border-radius: 20px;
  margin: 3em auto;
  position: relative;
}

.footer-container {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 875px) {
  h2 {
    font-size: 2em;
  }

  .menu-btn {
    display: none;
  }

  .hide-mobile {
    display: flex;
  }

  .title {
    font-size: 2em;
  }

  .subhead {
    font-size: 1.3em;
  }

  nav ul li {
    margin: 0 1em 0 1em;
  }

  label {
    font-size: 1.3em;
  }

  .first-school-container {
    margin-left: 25%;
  }

  .second-school-container {
    margin-right: 25%;
  }
}

@media only screen and (min-width: 1600px) {
  .first-school-container {
    margin-left: 30%;
  }

  .second-school-container {
    margin-right: 30%;
  }

  .title {
    font-size: 3em;
  }

  h2 {
    font-size: 2.5em;
  }
}
