body {
  font-family: "Montserrat", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  text-align: center;
  margin: 0;
  padding: 0.8em 1.1em;
}

header {
  display: flex;
  justify-content: flex-end;
}

.menu-btn {
  width: 1.5em;
}

.hide-mobile {
  display: none;
}

.title {
  font-size: 1.3em;
  margin-bottom: 2em;
}

nav ul li {
  list-style-type: none;
}

.school-container {
  display: flex;
  justify-content: center;
  padding: 2em;
  background: blue;
}

.first-school-container {
  margin: auto;
}

.second-school-container {
  margin: auto;
}

.see-your-score-btn {
  background: black;
  display: block;
  width: 250px;
  padding: 0.5em;
  text-align: center;
  font-size: 1.5em;
  text-decoration: none;
  color: white;
  border-radius: 20px;
  margin: 3em auto;
  position: relative;
}
